<div class="row">
    
    <div class="col-md-12">
        <ul>
        <li>BD={{this.BD}}</li>
        <li>PUERTO={{this.PUERTO}}</li>
        <li>KEY={{this.KEY}}</li>
        <li>SECRET={{this.SECRET}}</li>
        <li>MAIL={{this.MAIL}}</li>
        <li>SMTP_HOST={{this.SMTP_HOST}}</li>
        <li>SMTP_USER={{this.SMTP_USER}}</li>
        <li>SMTP_PASS={{this.SMTP_PASS}}</li>
        <li>SMTP_PORT={{this.SMTP_PORT}}</li>
        <li>TWSSID={{this.TWSSID}}</li>
        <li>TWTOKEN={{this.TWTOKEN}}</li>
        <li>TWSENDERSMS={{this.TWSENDERSMS}}</li>
        <li>TWSENDERWSP={{this.TWSENDERWSP}}</li>
        <li>TWPHONE_WSP={{this.TWPHONE_WSP}}</li>
        <li>TWPHONE={{this.TWPHONE}}</li>
        </ul>
    </div>
</div>
